<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt">
<head>
    <title>Lista de Vendas</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>


    <table class="table" border="1">
        <thead>
            <tr>
                <th>Id</th>
                <th>Data</th>
                <th>Cliente</th>
                <th>Total</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="venda : ${vendas}">
                <td th:text="${venda.id}"></td>
                <td th:text="${#temporals.format(venda.data, 'dd/MM/yyyy')}"></td>
                <td th:text="${venda.cliente.class.simpleName.equals('PessoaFisica') ? venda.cliente.nome : venda.cliente.razaoSocial}"></td>
                <td th:text="${#numbers.formatCurrency(venda.total)}"></td>
                <td>
                    <a th:href="@{/vendas/show/{id}(id=${venda.id})}">
                        Detalhes
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

    <br>
    <a th:href="@{/}">
        Início
    </a>

</body>
</html>

