<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt">
<head>
    <title>Lista de Vendas</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    <table class="table" border="1">
        <thead>
            <tr>
                <th>Id</th>
                <th>Data</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="p : ${vendas}">
                <td th:text="${p.id}"></td>
                <td th:text="${p.data}"></td>
                <td th:text="${p.total()}"></td>
            </tr>
        </tbody>
    </table>

    <br>
    <a th:href="@{/}">
        Início
    </a>

</body>
</html>

