<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(~{::head}, ~{::main})}">

<head th:replace="fragments/head :: head(~{}, 'Produtos Disponíveis &ndash; PWEBII')"></head>

<body>

    <main class="h-full overflow-y-auto">
        <div class="container px-6 mx-auto grid">
            <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
                Produtos Disponíveis
            </h2>

            <form class="mb-5" th:action="@{/produtos-disponiveis/filtrar-por}">
                <h4 class="mb-4 text-lg font-semibold text-gray-600 dark:text-gray-300">
                    Filtrar por
                </h4>
                <div class="px-4 py-3 mb-8 bg-white rounded-lg shadow-xs dark:bg-gray-800">
                    <label class="block mt-4 text-sm">
                        <span class="text-gray-700 dark:text-gray-400">
                          Descrição do produto
                        </span>
                        <div class="relative text-gray-500 focus-withover:bg-may-green">
                            <input th:name="produto_descricao" class="block w-full pr-20 mt-1 text-sm text-black dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 focuhover:bg-may-green focus:outline-none focus:shadow-outline-may-green dark:focus:shadow-outline-gray form-input" placeholder="Descrição">
                            <button type="submit" class="absolute inset-y-0 right-0 px-4 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-may-green border border-transparent rounded-r-md active:bg-may-green hover:bg-may-green focus:outline-none focus:shadow-outline-may-green">
                                Filtrar
                            </button>
                        </div>
                    </label>
                </div>
            </form>

            <div class="w-full overflow-hidden rounded-lg shadow-xs mb-8">
                <div class="w-full overflow-x-auto">
                    <table class="w-full whitespace-no-wrap">
                        <thead>
                            <tr class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
                                <th class="px-4 py-3">Id</th>
                                <th class="px-4 py-3">Descrição</th>
                                <th class="px-4 py-3">Valor</th>
                                <th class="px-4 py-3 text-right">Ações</th>
                            </tr>
                        </thead>
                        <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
                            <tr class="text-gray-700 dark:text-gray-400" th:each="p : ${produtos}">
                                <td class="px-4 py-3 text-sm" th:text="${p.id}"></td>
                                <td class="px-4 py-3 text-sm" th:text="${p.descricao}"></td>
                                <td class="px-4 py-3 text-sm" th:text="${#numbers.formatCurrency(p.valor)}"></td>
                                <td class="px-4 py-3 text-sm">
                                    <form th:action="@{/vendas/add-item}" th:object="${itemVenda}" method="post">
                                        <input type="hidden" th:name="produto.id" th:value="${p.id}">
                                        <label class="block ml-auto mt-4 text-sm w-40">
                                            <span class="text-gray-700 dark:text-gray-400">
                                                Quantidade
                                            </span>
                                            <div class="relative text-gray-500 focus-within:text-may-green">
                                                <input
                                                    class="block w-full pr-20 mt-1 text-sm text-black dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 focus:border-may-green-400 focus:outline-none focus:shadow-outline-may-green dark:focus:shadow-outline-gray form-input"
                                                    type="number"
                                                    th:errorclass="is-invalid"
                                                    th:field="*{qtd}"
                                                    id="qtd"
                                                    placeholder="Digite a quantidade"
                                                    aria-describedby="validationQuantidade"
                                                >
                                                <button
                                                    class="absolute inset-y-0 right-0 px-4 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-may-green border border-transparent rounded-r-md active:bg-may-green hover:bg-may-green focus:outline-none focus:shadow-outline-may-green"
                                                    type="submit"
                                                >
                                                    Adicionar
                                                </button>
                                            </div>
                                        </label>

                                        <span
                                            class="block mt-2 w-full text-xs text-right text-red-600 dark:text-red-400"
                                            th:if="${#fields.hasErrors('qtd')}"
                                            th:errors="*{qtd}"
                                            id="validationQuantidade"
                                        >
                                            Dado incorreto.
                                        </span>
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>

</body>
</html>
