<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(~{::head}, ~{::main})}">

<head th:replace="fragments/head :: head(~{}, 'Detalhes da Venda &ndash; PWEBII')"></head>

<body>

    <main class="h-full overflow-y-auto">
        <div class="container px-6 mx-auto grid">
            <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
                Detalhes da Venda
            </h2>

            <div class="flex justify-between mb-6">
                <div class="text-gray-700">
                    <div>Data: <span th:text="${#temporals.format(venda.data, 'dd/MM/yyyy')}"></span></div>
                    <div>Venda #: <span th:text="${venda.id}"></span></div>
                </div>
            </div>

            <div class="mb-8">
                <h2 class="text-lg font-bold mb-1 text-gray-700">Cliente:</h2>
                <div class="text-gray-700 mb-2" th:text="${venda.pessoa.class.simpleName.equals('PessoaFisica') ? venda.pessoa.nome : venda.pessoa.razaoSocial}"></div>
                <div class="text-gray-700 mb-2" th:text="${venda.pessoa.class.simpleName.equals('PessoaFisica') ? 'Pessoa Física' : 'Pessoa Jurídica'}"></div>
            </div>

            <div class="mb-8">
                <h2 class="text-lg font-bold mb-1 text-gray-700">Endereço de entrega:</h2>
                <div class="text-gray-700 mb-2">Descrição: <span th:text="${venda.endereco.descricao}"></span></div>
                <div class="text-gray-700 mb-2">CEP: <span th:text="${venda.endereco.cep}"></span></div>
                <div class="text-gray-700 mb-2">Rua: <span th:text="${venda.endereco.logradouro}"></span></div>
                <div class="text-gray-700 mb-2">Complemento: <span th:text="${venda.endereco.complemento}"></span></div>
                <div class="text-gray-700 mb-2">Bairro: <span th:text="${venda.endereco.bairro}"></span></div>
                <div class="text-gray-700 mb-2">Cidade: <span th:text="${venda.endereco.cidade.nome}"></span></div>
                <div class="text-gray-700 mb-2">Estado: <span th:text="${venda.endereco.cidade.estado.nome}"></span></div>
            </div>

            <table class="w-full mb-8">
                <thead>
                    <tr class="text-gray-700">
                        <th class="text-left font-bold text-gray-700">Descrição</th>
                        <th class="text-right font-bold text-gray-700">Valor</th>
                        <th class="text-right font-bold text-gray-700">Quantidade</th>
                        <th class="text-right font-bold text-gray-700">Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="item : ${venda.itensVenda}">
                        <td class="text-left text-gray-700" th:text="${item.produto.descricao}"></td>
                        <td class="text-right text-gray-700" th:text="${#numbers.formatCurrency(item.produto.valor)}"></td>
                        <td class="text-right text-gray-700" th:text="${item.qtd}"></td>
                        <td class="text-right text-gray-700" th:text="${#numbers.formatCurrency(item.total)}"></td>
                    </tr>
                </tbody>
                <tfoot class="text-gray-700">
                    <tr>
                        <td class="text-left font-bold text-gray-700">Total da venda</td>
                        <td colspan="3" class="text-right font-bold text-gray-700" th:text="${#numbers.formatCurrency(venda.total)}"></td>
                    </tr>
                </tfoot>
            </table>

            <div class="flex flex-col flex-wrap mb-4 space-y-4 md:flex-row md:items-end md:space-x-4">
                <a th:href="@{/pagina-inicial}"
                   class="px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-may-green border border-transparent rounded-lg active:bg-may-green hover:bg-may-green focus:outline-none focus:shadow-outline-may-green"
                >
                    Voltar
                </a>
            </div>
        </div>
    </main>

</body>
</html>
