<div class="px-4 py-3 mb-5 bg-white rounded-lg shadow-md dark:bg-gray-800" th:fragment="contacts">
    <h3 class="mb-4 text-lg font-semibold text-gray-600 dark:text-gray-300">
        Contatos
    </h3>

    <label class="block text-sm">
        <span class="text-gray-700 dark:text-gray-400">
          E-mail
        </span>
        <input
            class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-may-green-400 focus:outline-none focus:shadow-outline-may-green dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
            type="email"
            id="email"
            th:errorclass="is-invalid"
            th:field="*{email}"
            required
            placeholder="Digite o e-mail"
            aria-describedby="validationEmail"
        >
        <span
            th:if="${#fields.hasErrors('email')}"
            th:errors="*{email}"
            id="validationEmail"
            class="text-xs text-red-600 dark:text-red-400"
        >
          Dado incorreto.
        </span>
    </label>

    <label class="block text-sm">
        <span class="text-gray-700 dark:text-gray-400">
          Telefone
        </span>
        <input
            class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-may-green-400 focus:outline-none focus:shadow-outline-may-green dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
            type="text"
            id="telefone"
            th:errorclass="is-invalid"
            th:field="*{telefone}"
            required
            placeholder="Digite o telefone"
            aria-describedby="validationPhone"
        >
        <span
            th:if="${#fields.hasErrors('telefone')}"
            th:errors="*{telefone}"
            id="validationPhone"
            class="text-xs text-red-600 dark:text-red-400"
        >
          Dado incorreto.
        </span>
    </label>
</div>
