<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(~{::head}, ~{::main})}">

<head th:replace="fragments/head :: head(~{}, 'Cadastrar Produto &ndash; PWEBII')"></head>

<body>

    <main class="container">
        <form
            th:action="${produto.id == null} ? @{/produtos/save} : @{/produtos/update}"
            th:object="${produto}"
            method="post"
            class="row g-3"
        >
            <input type="hidden" th:field="*{id}">
            <div class="col-md-10">
                <label for="descricao" class="form-label">
                    Descrição
                </label>
                <input
                    type="text"
                    class="form-control"
                    th:errorclass="is-invalid"
                    th:field="*{descricao}"
                    id="descricao"
                    required
                    placeholder="Digite a descrição"
                    aria-describedby="validationDescription"
                >
                <div
                    th:if="${#fields.hasErrors('descricao')}"
                    th:errors="*{descricao}"
                    id="validationDescription"
                    class="invalid-feedback"
                >
                    Dado incorreto.
                </div>
            </div>

            <div class="col-md-2">
                <label for="valor" class="form-label">
                    Valor
                </label>
                <input
                    type="number"
                    class="form-control"
                    th:errorclass="is-invalid"
                    th:field="*{valor}"
                    id="valor"
                    required
                    placeholder="Digite o valor"
                    aria-describedby="validationValue"
                >
                <div
                    th:if="${#fields.hasErrors('valor')}"
                    th:errors="*{valor}"
                    id="validationValue"
                    class="invalid-feedback"
                >
                    Dado incorreto.
                </div>
            </div>

            <div class="col-12">
                <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
        </form>
    </main>

</body>
</html>
