<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt">
<head>
    <title>Cadastrar Produto</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    <h1>Cadastrar Produto</h1>
    <form th:action="${produto.id == null} ? @{/produtos/save} : @{/produtos/update}" th:object="${produto}" method="post">
        <input type="hidden" th:field="*{id}">
        <label for="descricao">
            Descrição
            <input type="text" th:field="*{descricao}" id="descricao" required placeholder="Digite a descrição">
        </label>
        <label for="valor">
            Valor
            <input type="number" th:field="*{valor}" id="valor" required placeholder="Digite o valor">
        </label>
        <input type="submit" value="Enviar">
    </form>

    <br>
    <a th:href="@{/}">
        Início
    </a>

</body>
</html>
