<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(~{::head}, ~{::main})}">

<head th:replace="fragments/head :: head(~{}, 'Lista de Produtos &ndash; PWEBII')"></head>

<body>

    <main class="container">
        <table class="table table-striped table-hover border">
            <thead>
            <tr>
                <th>Id</th>
                <th>Descrição</th>
                <th>Valor</th>
                <th class="text-end">Ações</th>
            </tr>
            </thead>
            <tbody class="table-group-divider">
            <tr th:each="p : ${produtos}">
                <td th:text="${p.id}"></td>
                <td th:text="${p.descricao}"></td>
                <td th:text="${#numbers.formatCurrency(p.valor)}"></td>
                <td class="text-end">
                    <a th:href="@{/produtos/edit/{id}(id=${p.id})}"
                        class="btn btn-primary btn-sm me-2"
                    >
                        Editar
                    </a>
                    <a
                        onclick="return window.confirm('Tem certeza que deseja excluir este registro?')"
                        th:href="@{/produtos/remove/{id}(id=${p.id})}"
                        class="btn btn-danger btn-sm"
                    >
                        Excluir
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </main>

</body>
</html>
