<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt">
<head>
    <title>Vendas</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    <table class="table" border="1">
        <thead>
            <tr>
                <th>Id</th>
                <th>Descrição</th>
                <th>Valor</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="p : ${produtos}">
                <td th:text="${p.id}"></td>
                <td th:text="${p.descricao}"></td>
                <td th:text="${#numbers.formatCurrency(p.valor)}"></td>
                <td>
                    <form th:action="@{/vendas/add-item}" th:object="${itemVenda}" method="post">
                        <input type="hidden" th:name="produto.id" th:value="${p.id}">
                        <label for="qtd">
                            Quantidade
                            <br>
                            <input type="number" name="produto" th:field="*{qtd}" id="qtd" placeholder="Digite a quantidade" style="width: 50px">
                        </label>
                        <input type="submit" value="Adicionar ao carrinho">
                    </form>
                </td>
            </tr>
        </tbody>
    </table>

    <br>
    <a th:href="@{/}">
        Início
    </a>

</body>
</html>

